<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

	<body>
		<!-- header -->
		<%- include('../partials/header') %>

		<!-- main -->
		<main>
			<div class="p-5">

				<!-- order book -->
				<div class="row">
					<h3>ORDER BOOK </h3>
					<!-- <p style="color: blue;"><%=coin1%>/<%=coin2%></p><br> -->
					<form class="form-inline" action="/" method="POST">
						<div class="row">
							<div class="form-group col-2">
								<input type="text" class="form-control" id="coin1" name="coin1" placeholder="Input coin 1" required>
							</div>
							<div class="form-group col-2">
								<input type="text" class="form-control" id="coin2" name="coin2" placeholder="Input coin 2" required>
							</div>
							<div class="col">
								<button type="submit" class="btn btn-primary mb-2">Search</button>
							</div>
						</div>
					</form>

					<div class="col-6">
						<h5>Buy Order</h5>
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Price (<%=coin2%>)</th>
									<th scope="col">Amount (<%=coin1%>)</th>
									<th scope="col">Total (<%=coin2%>)</th>
									<th scope="col">Sum (<%=coin2%>)</th>
								</tr>
							</thead>
							<tbody>
								<% bids.forEach((bid, index) => { %>
								<tr>
									<td scope="row" style="color: lightseagreen;">Buy <%=index+1%></th>
									<td><%=bid[0]%></td>
									<td><%=bid[1]%></td>
									<td>?</td>
									<td>?</td>
								</tr>
								<% });%>
							</tbody>
						</table>
					</div>

					<div class="col-6">
						<h5>Sell Order</h5>
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Price (<%=coin2%>)</th>
									<th scope="col">Amount (<%=coin1%>)</th>
									<th scope="col">Total (<%=coin2%>)</th>
									<th scope="col">Sum (<%=coin2%>)</th>
								</tr>
							</thead>
							<tbody>
								<% asks.forEach((ask, index)=> { %>
								<tr>
									<td scope="row" style="color: palevioletred;">Sell <%=index+1%></th>
									<td><%=ask[0]%></td>
									<td><%=ask[1]%></td>
									<td>?</td>
									<td>?</td>
								</tr>
								<% });%>
							</tbody>
						</table>
					</div>
				</div>

				<!-- limit order -->
				<div class="mt-5">
					<h3>LIMIT ORDER</h3>

					<form class="form-inline" action="/" method="POST">
						<div class="row">
							<div class="form-group col">
								<select class="form-control" id="limitOderSide" name="limitOderSide">
									<option>BUY</option>
									<option>SELL</option>
								</select>
							</div>
							<div class="form-group col">
								<input type="text" class="form-control" id="limitCoin1" name="limitCoin1" placeholder="Input trading coin 1" required>
							</div>
							<div class="form-group col">
								<input type="text" class="form-control" id="limitCoin2" name="limitCoin2" placeholder="Input trading coin 2" required>
							</div>
							<div class="col">
								<button type="submit" class="btn btn-primary mb-2">Place order</button>
							</div>
						</div>
					</form>
				</div>

			</div>
		</main>

		<!-- footer -->
		<%- include('../partials/footer'); %>
	</body>

</html>