<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

	<body>
		<!-- header -->
		<%- include('../partials/header') %>

		<!-- main -->
		<main>
			<div class="container mt-5">

				<!-- open orders -->
				<h3>OPEN ORDERS</h3>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Date</th>
							<th scope="col">Pair</th>
							<th scope="col">Type</th>
							<th scope="col">Side</th>
							<th scope="col">Price</th>
							<th scope="col">Amount</th>
							<th scope="col">Filled</th>
							<th scope="col">Total</th>
							<th scope="col">Trigger Condition</th>
							<th scope="col">Cancel</th>
						</tr>
					</thead>
					<tbody>
						<% orders.forEach((order, index) => { %>
						<tr>
							<td><%=order.time%></td>
							<td><%=order.symbol%></td>
							<td><%=order.type%></td>
							<td><%=order.side%></td>
							<td><%=order.price%></td>
							<td><%=order.origQty%></td>
							<td><%=order.executedQty%></td>
							<td>?</td>
							<td>?</td>
							<td>
								<form action="/cancel/<%=order.orderId%>" method="POST">
									<button type="submit" class="btn btn-secondary">Cancel</button>
								</form>
							</td>
						</tr>
						<% }) %>
					</tbody>
				</table>

				</div>
		</main>

		<!-- footer -->
		<%- include('../partials/footer'); %>
	</body>

</html>