<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

	<body>
		<!-- header -->
		<%- include('../partials/header') %>

		<!-- main -->
		<main>
			<div class="p-5">
				<!-- <h5 style="color: blue;"><%=coin1%>/<%=coin2%> orders</h5> -->
				<form class="form-inline" action="/order-history" method="POST">
					<div class="row">
						<div class="form-group col-2">
							<input type="text" class="form-control" id="historyCoin1" name="historyCoin1" placeholder="Input coin 1" required>
						</div>
						<div class="form-group col-2">
							<input type="text" class="form-control" id="historyCoin2" name="historyCoin2" placeholder="Input coin 2" required>
						</div>
						<div class="col">
							<button type="submit" class="btn btn-primary mb-2">Search</button>
						</div>
					</div>
				</form>

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Order Id</th>
							<th scope="col">Order Time</th>
							<th scope="col">Pair</th>
							<th scope="col">Type</th>
							<th scope="col">Side</th>
							<th scope="col">Average</th>
							<th scope="col">Price</th>
							<th scope="col">Executed</th>
							<th scope="col">Amount</th>
							<th scope="col">Total</th>
							<th scope="col">Trigger Condition</th>
							<th scope="col">All</th>
						</tr>
					</thead>
					<tbody>
						<% orders.forEach((order, index) => { %>
						<tr>
							<td><%=order.orderId%></td>
							<td><%=new Date(order.time).toDateString()%></td>
							<td><%=coin1%>/<%=coin2%></td>
							<td><%=order.type%></td>
							<td><%=order.side%></td>
							<td>?</td>
							<td><%=order.price%></td>
							<td><%=order.executedQty%></td>
							<td><%=order.origQty%></td>
							<td>?</td>
							<td>?</td>
							<td>?</td>
						</tr>
						<% }) %>
					</tbody>
				</table>

			</div>
		</main>

		<!-- footer -->
		<%- include('../partials/footer'); %>
	</body>

</html>